.header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
  color: beige;
}

@media screen and (max-width: 550px) {
  .header {
    font-size: 20px;
  }
}